:root {
    --background: #312E38;
    --primary: #fe7438;
    --text: #F4EDE8;
    --shape: #ffffff;
    --graphic: rgba(54, 162, 235, 0.7);
    --gray-300: #a8a8b3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 720px) {
        font-size: 87.5%;
    }
}
body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    color: var(--shape);
}
body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}
button {
    cursor: pointer;
}
